{% extends "layout.html" %}
{% block body %}
<p></p>
<p></p>
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#grow" data-toggle="tab">享•爱成长记</a></li>
    <li><a href="#idea" data-toggle="tab">我们的理念</a></li>
    <li><a href="#team" data-toggle="tab">我们的团队</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="grow">
        <p>“享•爱”的主创人员是一群热心公益、志同道合的青年学生。我们希望通过享•爱网站，推行公益理念，在以高校学生为主体的青年人群中推广帮扶贫困落后地区学生的生活方式。“享•爱”—— Share I, Share Love. 在中文里取I和爱的谐音，希望支持享•爱的大家都能在Share 爱心的同时也Share我们自己。我们相信，爱需要分享才能传播的更远。</p>
        <p>“享•爱”网站，也是分享给您我们的热爱——因为分享，我们组建了享•爱团队，将公益助学的理念变成公益创业的实践；因为热爱，我们希望得到您的支持和帮助，汇聚更多的爱心和善款让更多需要帮助的孩子们受益。</p>
        <p>我们从事公益创业活动时间不长，享•爱团队从组建到现在也只有半年的时间，但我们一直在努力的成长。我们身在北京、纽约、华盛顿、香港，跨越着时间和距离，在Skype上见证着享•爱一点一滴的成长。策划书撰写、调查问卷编排、公益孵化设计、合作NGO接洽、云南实地走访、宣传影片拍摄、网站前期搭建……享•爱得到了众多同学的支持和鼓励。如今，我们期待在不久的将来呈现给您“享•爱”美好的公益理念和友好的网站设计，期待您的关注与支持！</p>
    </div>

    <div class="tab-pane" id="idea">
        <p>“享•爱”是由大学生发起和创办的教育公益类社交网站，旨在推行公益理念，在以高校学生为主体的青年人群中推广与贫困落后地区学生建立帮扶关系的生活方式。
        在享•爱，捐助者必须以结伴形式共同捐助同一个受助者。</p>
        <p>一方面，落后地区的学生能够从捐助者处得到经济上的支持，以保障其完成学业，同时，也能从捐助者处得到精神和思想方面的交流与帮助。<br>
        另一方面，捐助者在对同一个受助者建立捐助关系的同时，能够分享捐助过程的点滴，建立良好的关系，把共同捐助变成彼此生活中的重要联系，使得双方或多方能够建立深厚的感情。</p>
        <p>在付出爱的过程中收获爱，分享爱同时也能享受爱——这就是享爱的理念。</p>
    </div>
    <div class="tab-pane" id="team">
      <div class="container-fluid">
        <div class="row-fluid show-grid">
  <div class="span2">
  <img src="/static/img/yxf.jpg">
  </div>
  <div class="span9" style="text-align : left;background-color:#FFFFFF; padding-left:20">
  <h4>杨晓帆</h4>
  <p>清华大学环境系博士生，本科就读于清华大学。<br>
  享·爱 构想提出者。<br>
  负责享·爱 公益孵化、公共关系等外部事务联络及网站的宣传推广。</p>
  </div>
</div>
<hr>
<div class="row-fluid show-grid">
  <div class="span2">
  <img src="/static/img/wz.jpg">
  </div>
  <div class="span9" style="text-align : left;background-color:#FFFFFF; padding-left:20">
  <h4>王哲</h4>
  <p>哥伦比亚大学机械系博士生，本科就读于清华大学。<br>
  享·爱 构想提出者<br>
  负责与NGO及社团的合作共建，以及享·爱 团队内部事务统筹。</p>
  </div>
</div>
<hr>
<div class="row-fluid show-grid">
  <div class="span2">
  <img src="/static/img/qkj.jpg">
  </div>
  <div class="span9" style="text-align : left;background-color:#FFFFFF; padding-left:20">
  <h4>秦凯捷</h4>
  <p>清华大学计算机系研究生，本科就读于清华大学。<br>
  负责 享·爱 网站建设。
</p>
  </div>
</div>

<div class="row-fluid show-grid">
  <div class="span2">
  <img src="/static/img/ybx.jpg">
  </div>
  <div class="span9" style="text-align : left;background-color:#FFFFFF; padding-left:20">
  <h4>杨冰心</h4>
  <p>马里兰大学公共管理硕士生，本科毕业于北京大学。<br>
  负责网站运营及后续发展。
</p>
  </div>
</div>

<div class="row-fluid show-grid">
  <div class="span2">
  <img src="/static/img/lyx.jpg">
  </div>
  <div class="span9" style="text-align : left;background-color:#FFFFFF; padding-left:20">
  <h4>廖元辛</h4>
  <p>马里兰大学公共政策硕士生，本科就读于北京大学。<br>
  负责网站运营及宣传推广。</p>
  </div>
</div>

<div class="row-fluid show-grid">
  <div class="span2">
  <img src="/static/img/ly.jpg">
  </div>
  <div class="span9" style="text-align : left;background-color:#FFFFFF; padding-left:20">
  <h4>柳叶</h4>
  <p>现工作于美丽中国NGO，本科就读于清华大学。<br>
  负责网站用户及小叶子需求分析，以及和NGO合作共建。
</p>
  </div>
</div>

<div class="row-fluid show-grid">
  <div class="span2">
  <img src="/static/img/lqh.jpg">
  </div>
  <div class="span9" style="text-align : left;background-color:#FFFFFF; padding-left:20">
  <h4>李奇卉</h4>
  <p>现工作于香港德勤会计师事务所，本科毕业于香港科技大学。<br>
  负责资金运作。
</p>
  </div>
</div>

<div class="row-fluid show-grid">
  <div class="span2">
  <img src="/static/img/lss.jpg">
  </div>
  <div class="span9" style="text-align : left;background-color:#FFFFFF; padding-left:20">
  <h4>陆珊珊</h4>
  <p>清华大学美术学院平面设计系本科生。<br>负责网站Logo等的平面设计。</p>
  </div>
</div>

<div class="row-fluid show-grid">
  <div class="span2">
  <img src="/static/img/yjx.jpg">
  </div>
  <div class="span9" style="text-align : left;background-color:#FFFFFF; padding-left:20">
  <h4>于佳馨</h4>
  <p>就读于普拉特艺术学院，本科就读于清华大学。<br>
  负责网站宣传海报及相关图样的平面设计。
</p>
  </div>
</div>

<div class="row-fluid show-grid">
  <div class="span2">
  <img src="/static/img/lzbl.jpg">
  </div>
  <div class="span9" style="text-align : left;background-color:#FFFFFF; padding-left:20">
  <h4>刘张铂泷</h4>
  <p>现在School of Visual Art攻读摄影专业，本科毕业于清华大学，原清华电视台台长。<be>
  负责网站宣传微电影的拍摄。
</p>
  </div>
</div>

      </div>
    </div>
  </div>
</div> <!-- /tabbable -->


{% endblock %}