{% extends "layout.html" %}
{% block title %}
    My Timeline
{% endblock %}
{% block body %}
  {% if session.logged_in %}
    <li><img src= {{bleaf['avatar']}} </li>
  {% else %}
  {% endif %}

<!--
<-Subhead->

<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Scaffolding</h1>
    <p class="lead">Bootstrap is built on responsive 12-column grids, layouts, and components.</p>
  </div>
</header>

=============================-->

<!-- Docs nav
================================================== -->
<div id="myCarousel" class="carousel slide" style="margin:0 auto; width:697px">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <img src="static/img/shareilove-friends.jpg" alt="">
        <div class="carousel-caption">
          <h4>享爱-挚友</h4>
            <p>享爱微电影之挚友篇，即将到来</p>
        </div>
    </div>
    <div class="item">
      <img src="static/img/shareilove-lovers.jpg" alt="">
        <div class="carousel-caption">
          <h4>享爱-情侣</h4>
            <p>享爱微电影之情侣篇，即将到来</p>
        </div>
    </div>
    <div class="item">
      <img src="static/img/shareilove-strangers.jpg" alt="">
        <div class="carousel-caption">
          <h4>享爱-陌生人</h4>
            <p>享爱微电影之陌生人篇，即将到来</p>
        </div>
    </div>
  </div>

  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<br>

<h3>享 爱 新闻</h3>
<hr>

<div class="row-fluid">
  <li class="span6">
    <div class="thumbnail">
      <a class="" href="{{ url_for('show_news', news_id=1) }}" target="_blank"><img src="/static/img/news1.jpg"></a>
    </div>
    <a class="" href="{{ url_for('show_news', news_id=1) }}" target="_blank"><h4>享爱团队走进云南大理炼洞村小学探访学生家庭和支教老师</h4></a>
  </li>
  <li class="span6">
    <div class="thumbnail">
      <a class="" href="{{ url_for('show_news', news_id=2) }}" target="_blank"><img src="/static/img/news2.jpg"></a>
    </div>
    <a class="" href="{{ url_for('show_news', news_id=2) }}" target="_blank"><h4>挚友主题微电影拍摄</h4></a>
  </li>
</div>



{% endblock %}
