{% extends "layout.html" %}
{% block title %}Little Leaf{% endblock %}

{% block body %}
{% if error %}<p class="alert alert-error"><strong>Error:</strong> {{ error }}
{% endif %}

<div class="row-fluid">
  <h3>得到捐助正在茁壮成长的小叶子</h3>
    {% for littleleaf in littleleafs %}
      {% if littleleaf.status == 3 %}
        <div class="row-fluid">
        <div class="span4">
            <img src={{ littleleaf.avatar }}>
        </div>
        <div class="span6" style="text-align : left;background-color:#FFFFFF; padding-left:20">
          <h4>昵称：<a href="{{ url_for('show_littleleaf', lleaf_id=littleleaf.lleaf_id) }}" target="_blank">{{littleleaf.name}}</a></h4>
          <p>性别：{{littleleaf.sex}}<br>
          {{littleleaf.lleafinfo}}<br>
        </div>
      </div><br>
      {% endif %}
    {% endfor %}
</div>
<hr>
<div class="row-fluid">
  <h3>已经有大叶子申请捐助的小叶子</h3>
    {% for littleleaf in littleleafs %}
      {% if littleleaf.status == 2%}
       <div class="row-fluid">
        <div class="span4">
            <img src={{ littleleaf.avatar }}>
        </div>
        <div class="span6" style="text-align : left;background-color:#FFFFFF; padding-left:20">
          <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">我想申请捐助这枚小叶子！<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><div style="text-align:center">捐助模式</a></div></li>
              <li class="divider"></li>
              <li><a href="#">我想和我的亲爱的一起捐助他!</a></li>
              <li><a href="#">我想和我的好朋友一起捐助他!</a></li>
              <li><a href="#">我欢迎陌生人跟我一起捐助他！</a></li>
            </ul>
          </div><!-- /btn-group -->
          <h4>昵称：<a href="{{ url_for('show_littleleaf', lleaf_id=littleleaf.lleaf_id) }}" target="_blank">{{littleleaf.name}}</a></h4>
          <p>性别：{{littleleaf.sex}}<br>
          {{littleleaf.lleafinfo}}<br>
        </div>
      </div><br>
      {% endif %}
    {% endfor %}
</div>
<hr>
<div class="row-fluid">
  <h3>等待捐助的小叶子</h3>
    {% for littleleaf in littleleafs %}
      {% if littleleaf.status == 1%}
      <div class="row-fluid">
        <div class="span4">
            <img src={{ littleleaf.avatar }}>
        </div>
        <div class="span6" style="text-align : left;background-color:#FFFFFF; padding-left:20">
          <div class="btn-group">
            <button class="btn dropdown-toggle" data-toggle="dropdown">我想申请捐助这枚小叶子！<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><div style="text-align:center">捐助模式</a></div></li>
              <li class="divider"></li>
              <li><a href="#">我想和我的亲爱的一起捐助他!</a></li>
              <li><a href="#">我想和我的好朋友一起捐助他!</a></li>
              <li><a href="#">我欢迎陌生人跟我一起捐助他！</a></li>
            </ul>
          </div><!-- /btn-group -->
          <h4>昵称：<a href="{{ url_for('show_littleleaf', lleaf_id=littleleaf.lleaf_id) }}" target="_blank">{{littleleaf.name}}</a></h4>
          <p>性别：{{littleleaf.sex}}<br>
          {{littleleaf.lleafinfo}}<br>
        </div>
      </div><br>
      {% endif %}
    {% endfor %}
</div>
<hr>

<a href="{{ url_for('add_littleleaf') }}" class="btn btn-large btn-primary">提供小叶子信息</a>
{% endblock %}