{% extends "layout.html" %}
{% block body %}
<p></p>
<p></p>

<h2>挚友主题微电影拍摄</h2>
<p>  《享爱——挚友》主题微电影的拍摄从2012年12月开始，到2013年2月初正式杀青，这段时间是“享爱”教育公益类社交网站系列宣传中很令人回味的时光。</p>
<p>  我们希望能够拍摄出优质的短片，导演方面请到了前清华电视台台长，现在纽约School of Visual Art就读的刘张铂泷先生，在我们和刘张导演谈的时候，他深深为ShareI的建站理念所感染；在拍摄过程中，他一个人承担了导演、摄影到剪辑、配乐几乎全部的影片制作工作。图为正在专心拍摄的导演。</p>
<img src="/static/img/news2-1.jpg" style="height:300px"><br><br>
<p>  在纽约刚从哥伦比亚大学毕业的华人摄影师林海音帮助我们推荐了男女主角的人选，因为影片人物特点的需要，男主角选为现在美林证券工作的庞裴，他同时也是纽约Aftershock乐队主唱，在影片中饰演一个少年不得志，但一直从未放弃音乐梦想的音乐人。影片结局截取了Aftershock乐队在纽约公益演出的片段。图为正在赶往排练厅的男主角。</p>
<img src="/static/img/news2-2.jpg" style="height:300px"><br><br>
<p>  女主角选定为现就读于哥伦比亚大学的研二女生郑艾琳，她在影片中饰演女博士。影片中有不少在实验室做实验的片段，学文科的她本从没接触过这些工作，但凭借演技将女博士的生活生动地呈现出来。当我们在校园拍摄的过程中，女主角优雅的气质时常引来路人围观，图为女主角。</p>
<img src="/static/img/news2-3.jpg" style="height:300px"><br><br>
<p>  在实验室拍摄间歇，ShareI主创人之一王哲和导演以及女主角合影。王哲在影片拍摄过程中充当场务角色，为整个拍摄能够顺利推进做出了相当大的贡献。</p>
<img src="/static/img/news2.jpg" style="height:300px"><br><br>
<p>  影片预计会在2013年三月上旬推出，敬请期待。</p>
{% endblock %}
