{% extends "layout.html" %}
{% block body %}
<p></p>
<p></p>

<h2>享爱团队走进云南大理炼洞村小学探访学生家庭和支教老师</h2><hr>
<p>  2013年1月，享爱主创团队成员前往位于云南大理宾川县机组山镇炼洞村的炼洞中学，与当地老师进行沟通，并前往当地学生家中进行探访。炼洞村盛产葡萄、烟叶，当地居民多以务农为主。下图为学校中的学生及老师展示明信片的场景。</p>
<img src="/static/img/news1.jpg" style="height:300px"><br><br>
<p>  在炼洞中学支教老师柳叶的带领下，我们前往当地学生家中进行探访，受到了学生及家长的热情款待。同时，我们对学生也进行了问卷测试，对我们对小叶子的调查进行了解，看其是否能够真实反映出学生们的状况，下图为对学生进行提问调查沟通的场景。</p>
<img src="/static/img/news1-2.jpg" style="height:300px"><br><br>
<p>  同时，在对学生进行家访的过程中，我们也走访了一些确实需要帮助的孩子家庭。他们家境贫寒，但是都渴望学习，有的学生很希望能有一本英语词典，能买一些辅导书，但是因为家庭的因素可能都没有办法实现。希望享爱的上线能够使得这些孩子获得更好的资源，更加快乐地成长。</p>
{% endblock %}
