{% extends "layout.html" %}
{% block body %}
<div class="container-fluid">
  {% if error %}<p class="alert alert-error"><strong>Error:</strong> {{ error }}{% endif %}
  <div class="row-fluid">
    <div class="span8">
      <img src="/static/img/littleleaf1.jpg">
    </div>
    <div class="span4">
      <h2>注册成为大叶子</h2>
      <form action="" method=post>
        <dl>
          <dt>邮箱:
          <dd><input type=text name=email>
          <dt>姓名:
          <dd><input type=text name=uname>
          <dt>性别:
          <dd>
            <select name=sex>
               <option value="男">男</option>
               <option value="女">女</option>
               <option value="保密">保密</option>
            </select>
          <dt>密码:
          <dd><input type=password name=password>
          <dt>重复密码:
          <dd><input type=password name=password2>
          <dt>头像:
            <dd>ShareILove使用<a href="https://cn.gravatar.com/" target="_blank">avatar</a>头像
            <dd>请前往<a href="https://cn.gravatar.com/" target="_blank">https://cn.gravatar.com/</a>
            <dd>设置您的邮箱所对应的头像

          <dd><input class="btn btn-large btn-primary" type=submit value='注册'>
        </dl>
      </form>
    </div>
  </div>
</div>
{% endblock %}
